# Dependencies
node_modules/
.npm

# Build
dist/
build/

# Vite
.vite/

# Env
.env
.env.local
.env.*.local

# Vercel
.vercel

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*~

# Logs
*.log
npm-debug.log*
.env*.local
